﻿@model AddDierViewModel;



@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Dier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                @if (Model != null || Model != default)
                {
                    <input disabled asp-for="Naam" class="form-control" />
                }
                else
                {
                    <input asp-for="Naam" class="form-control" />
                }
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geboortedatum" class="control-label"></label>
                <input asp-for="Geboortedatum" class="form-control" />
                <span asp-validation-for="Geboortedatum" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="Leeftijd" class="control-label"></label>
        <input asp-for="Leeftijd" class="form-control" />
        <span asp-validation-for="Leeftijd" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="GeschatteLeeftijd" class="control-label"></label>
                <input asp-for="GeschatteLeeftijd" class="form-control" />
                <span asp-validation-for="GeschatteLeeftijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diersoort" class="control-label"></label>
                @if (Model != null || Model != default)
                {
                    <input disabled asp-for="Diersoort" class="form-control" />
                }
                else
                {
                    <input asp-for="Diersoort" class="form-control" />
                }
                <span asp-validation-for="Diersoort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ras" class="control-label"></label>
                <input asp-for="Ras" class="form-control" />
                <span asp-validation-for="Ras" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (Model != null || Model != default)
                    {
                        <label asp-for="Geslacht" class="form-check-label">
                            @Html.RadioButtonFor(m => m.Geslacht, "true", new { disabled = "disabled" })Male
                        </label>
                        <label disabled asp-for="Geslacht" class="form-check-label">
                            @Html.RadioButtonFor(m => m.Geslacht, "false", new { disabled = "disabled" })Female
                        </label>
                    }
                    else
                    {
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Geslacht, "true")Male
                        </label>
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Geslacht, "false")Female
                        </label>
                    }
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumBinnenkomst" class="control-label"></label>
                <input asp-for="DatumBinnenkomst" class="form-control" />
                <span asp-validation-for="DatumBinnenkomst" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="DatumAdoptie" class="control-label"></label>
        <input asp-for="DatumAdoptie" class="form-control" />
        <span asp-validation-for="DatumAdoptie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DatumOverlijden" class="control-label"></label>
        <input asp-for="DatumOverlijden" class="form-control" />
        <span asp-validation-for="DatumOverlijden" class="text-danger"></span>
    </div>
        -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (Model != null || Model != default)
                    {
                        <input disabled class="form-check-input" asp-for="Gecastreerd" /> @Html.DisplayNameFor(model => model.Gecastreerd)
                    }
                    else
                    {
                        <input class="form-check-input" asp-for="Gecastreerd" /> @Html.DisplayNameFor(model => model.Gecastreerd)
                    }

                </label>
            </div>
            <div class="form-group">
                <label asp-for="KanMetKinderen" class="control-label"></label>
                <input asp-for="KanMetKinderen" class="form-control" />
                <span asp-validation-for="KanMetKinderen" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="Opmerking" class="control-label"></label>
        <input asp-for="Opmerking" class="form-control" />
        <span asp-validation-for="Opmerking" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="RedenAfstand" class="control-label"></label>
                @if (Model != null || Model != default)
                {
                    <input disabled asp-for="RedenAfstand" class="form-control" />
                }
                else
                {
                    <input asp-for="RedenAfstand" class="form-control" />
                }

                <span asp-validation-for="RedenAfstand" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adopteerbaar" /> @Html.DisplayNameFor(model => model.Adopteerbaar)
                </label>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="VerblijfId" class="control-label"></label>
        <input asp-for="VerblijfId" class="form-control">
    </div>-->
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Individueel" /> @Html.DisplayNameFor(model => model.Individueel)
            </label>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
