﻿@model Dier;

@if (Model == null)
{
    <h1>Oh nee er ging wat fout!</h1>
}
else if (Model.Id == 0)
{
    <h1>Er is helaas geen plek meer voor @Model.Naam</h1>
}
else
{
    <h1>@Model.Naam is toegevoegd!</h1>
    <p>@Model.Naam is toegewezen aan verblijf @Model.Verblijf.Naam</p> 
    <div>
        <a asp-action="List">Back to List</a>
    </div>

}

