﻿@model DierenasielBreda.Core.DomainModel.Dier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geboortedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leeftijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leeftijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeschatteLeeftijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeschatteLeeftijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diersoort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diersoort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumBinnenkomst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumBinnenkomst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumAdoptie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumAdoptie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumOverlijden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumOverlijden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gecastreerd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gecastreerd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KanMetKinderen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KanMetKinderen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opmerking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedenAfstand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedenAfstand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adopteerbaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adopteerbaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verblijf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verblijf.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
