﻿@model DierenasielBreda.EmployeeWebGUI.Models.ViewModels.DierListViewModel
@inject SignInManager<IdentityUser> signInManager;
@if (Model == null)
{
    <span>no items found</span>
}
else
{
    @foreach (var d in Model.Dieren)
    {
        @await Html.PartialAsync("DierSummary", d);
    }
}


<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-danger"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>



