﻿@model Dier
@inject SignInManager<IdentityUser> signInManager;



<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            <img src="@Model.Foto" class="rounded float-left" width="100" , height="100">
            @Model.Naam
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Ras</small>
                <small>@Model.Geboortedatum</small>
            </span>
        </h4>
    </div>
    <span class="card-text p-1">
        @Model.Omschrijving
        @if (User.IsInRole("Admin") || User.IsInRole("Medewerker"))
        {     
            <div class="pull-right">
                <a style="text-emphasis-position:right" asp-controller="Dier" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success btn-sm pull-right">Detail</a>
            </div>
            /*<button type="submit" asp-controller="Dier" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success btn-sm pull-right" style="float:right">
                Details
            </button>*/
        }
    </span>
</div>