﻿@model VacatureDier;

@if (Model != null)
{
    <h1>@Model.Naam is ter adoptie gesteld!</h1>
    <div>
        <a asp-controller="Dier" asp-action="List">Back to List</a>
    </div>
}
else
{
    <h1>Oh nee er ging wat fout!</h1>
}

