﻿@model DierenasielBreda.Core.DomainModel.VacatureDier

@{
    ViewData["Title"] = "View";
}
<h1>VacatureDier</h1>
<!--<h2>Plaatsen over katten: ViewBag.plaatsenTotaalKat</h2>
<h2>Plaatsen over honden: ViewBag.plaatsenTotaalHond</h2>
    -->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diersoort" class="control-label"></label>
                <input asp-for="Diersoort" class="form-control" />
                <span asp-validation-for="Diersoort" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.RadioButtonFor(m => m.Geslacht, "true")Male
                </label>
                <label class="form-check-label">
                    @Html.RadioButtonFor(m => m.Geslacht, "false")Female
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gecastreerd" /> @Html.DisplayNameFor(model => model.Gecastreerd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RedenAfstand" class="control-label"></label>
                <input asp-for="RedenAfstand" class="form-control" />
                <span asp-validation-for="RedenAfstand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
