﻿@model IEnumerable<DierenasielBreda.Core.DomainModel.VacatureDier>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diersoort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gecastreerd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedenAfstand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diersoort)
            </td>
            <td>
                @if (item.Geslacht == true)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }
            </td>
            <td>
                @if (item.Gecastreerd == true)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nee</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedenAfstand)
            </td>
            <td>
                <a asp-controller="Dier" asp-action="AddWithId" asp-route-id="@item.Id">Verwerken</a>
                <a asp-controller="VacatureDier" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

 
            </td>
        </tr>
}
    </tbody>
</table>
